body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: rgb(80, 73, 73);
}
.or-color{
    color: rgb(211, 93, 9);
}
.flexible-container{
    display: flex;
    margin-bottom: 6%;
}
.width{
    width: 30%;
    padding-left: 6%;
    margin-top: 3%;
}
.width img{
width: 90%;
padding-left: 6%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 30px;
    border-radius: 30px;
    color: rgb(107, 97, 97);
    font-weight: 700;
}
.second-part{
    background-image:url(images/Frame59.jpg);
    background-size: cover;
    height:400px;
    padding-top:30px;
}
.half-width{
    width: 30%;
    padding-left: 6%;
    box-shadow:15px 20px 20px darkgray;
}
.half-width img{
width: 60%;
height: 250px;
border-radius: 20px;
}
.box{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
}
.Bro{
width: 30%;
padding-left: 8%;
}
.o-color{
    color: darkorange;
}
footer{
    text-align: center;
    background-color: rgb(26, 25, 25);
    color: blanchedalmond;
    height: 150px;
    padding-left: 4%;
    padding-right: 4%;
}